body {
    background-color: lightblue; 
    background-image: url("http://photos.imageevent.com/afap/sports/basketball/nbastars//Blake%20Griffin%20-1.jpg")
        
}
 
a {
    color: forestgreen;
}

#current-link {
    text-decoration: none;
    
}
    

.uppercase {
    text-transform: uppercase;
    font-size: 36px;
} 
    
img {
    width: 400px;
    height: auto;
}

h1 {
    border-top: 2px dashed black;
}


 